; cli configs
global = true
long = true
user-agent = "npm/3.10.3 node/v0.10.42 linux x64"

; userconfig /var/lib/jenkins/.npmrc
always-auth = true

; builtin config undefined
prefix="/var/lib"

; globalconfig /var/lib/jenkins/tools/jenkins.plugins.nodejs.tools.NodeJSInstallation/Node_6.x/etc/npmrc
prefix = "/var/lib/jenkins/tools/jenkins.plugins.nodejs.tools.NodeJSInstallation/Node_6.x"

; default values
access = null
also = null
; always-auth = false (overridden)
bin-links = true
ca = null
cache = "/var/lib/jenkins/.npm"
cache-lock-retries = 10
cache-lock-stale = 60000

; parse error test
browser